= render 'shared/nav'
.right_clmn
  .tour
    %h2.label
      Наша команда
    .tour-content
      .team

        - @members.each do |member|
          .team_person
            .left
              - if member.photo
                = image_tag  member.photo.thumb
            .right
              %b
                = member.name
              %p
                = member.position
              %br
              - if member.phone?
                %p
                  Телефон:
                  = member.phone
              - if member.skype?
                %p
                  Skype:
                  = member.skype
              - if member.languages?
                %p
                  Языки:
                  = member.languages
              - if member.email?
                %p
                  = member.email
      .message.height308
        %h3
          Задайте свой вопрос

        = form_for @message, url: '' do |f|
          .left
            = label :contactmethod_name, 'Имя'
            = f.text_field :contact_name, class: 'input'
            = label :contactmethod_skype, 'Skype'
            = f.text_field :contact_skype, class: 'input'
          .right
            = label :contactmethod_email, 'E-mail'
            = f.text_field :contact_email, class: 'input'
            = label :contactmethod_phone, 'Телефон'
            = f.text_field :contact_phone, class: 'input'
          .form-message
            = label :contactmethod_message, 'Сообщение'
            = f.text_area :contact_name
          .captcha
            = label :contactmethod_email, 'Проверочный код'
          .submit
            .left
              = recaptcha_tags
            .right
              =  f.submit 'Отправить'
