- @content_class = 'services_page'
- title @settings.title || @service.name
- description @settings.description
- keywords @settings.keywords
= render 'sidebar_nav'
.right_clmn
  = render_cell :banner, :top
  %h1.h1
    = @service.name
    = edit(edit_admin_service_path(@service))
  = render_breadcrumbs
  = render partial: 'shared/count_of_views', locals: { count_of_views: @service.count_of_views }
  .services_content.clearfix
    = raw @service.body
= link_to "ЗАДАТЬ ВОПРОС", contacts_path, class: 'btn usk_question big'
= render_cell :banner, :left
.clear
