= simple_form_for [:admin, @about_page], :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :body, input_html: { class: 'redactor' }
  = f.input :url
  = f.input :default
  = f.input :count_of_views
  = f.input :created_at, as: :string, input_html: { class: 'datetimepicker' }
  = f.input :paywall, collection: Paywall.all.map { |p| [p.name, p.id] }, selected: f.object.try(:paywall).try(:id), include_blank: true
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), admin_about_pages_path, class: 'btn'
