.search_filter
  %form{action: "", method: "GET"}
    %h2.h2 Расширенный поиск
    %input.input{name: "q", placeholder: "введите сочетание слов для поиска", type: "text", value: params[:q]}/
    .hr
    %label{class: "filter_label label_radio #{'act' if params[:type].blank? || params[:type] == 'all'}"}
      = radio_button_tag 'type', 'all', params[:type].blank? || params[:type] == 'all'
      Искать по всему сайту
    %label{class: "filter_label label_radio #{'act' if params[:type] == 'buy'}"}
      = radio_button_tag 'type', 'buy', params[:type] == 'buy'
      Искать в материалах о покупке
      %br>/
      и продаже недвижимости
    %label{class: "filter_label label_radio #{'act' if params[:type] == 'rent'}"}
      = radio_button_tag 'type', 'rent', params[:type] == 'rent'
      Искать в материалах об аренде
    %label{:class => "filter_label label_radio #{'act' if params[:type] == 'id'}"}
      = radio_button_tag 'type', 'id', params[:type] == 'id'
      Искать по ID объекта
    %span.btn.big.btn_input
      ИСКАТЬ
      %i.input
        %input{type: "submit"}/
