- @content_class = 'search_page'
- title build_title_with_page "Результаты поиска: #{params[:q]}"
= render_cell :property, :sidebar, for: 'search', banner: true
.clear
.search_results.clearfix
  %h1.h2.right_clmn.main_title
    Результаты поиска: #{params[:q]}
  .clear
  = render 'sidebar'
  .search_content.right_clmn
    - unless [@cities, @articles, @properties_buy, @properies_rent].map {|t| !t.blank? }.any?
      %h3.h2 Ничего не найденно
      %div  
    - if !@cities.blank?
      %h3.h2 Найденные города
      .hr
      %ul.search_list
        - @cities.each do |city|
          = render partial: 'city', object: city
    - if !@articles.blank?
      %h3.h2 Найденные статьи
      .hr
      %ul.search_list
        - @articles.each do |article|
          = render partial: 'article', object: article
    - if !@properties_buy.blank?
      %h3.h2 Найденные объекты на продажу
      .hr
      %ul.search_list.small
        - @properties_buy.each do |property|
          = render partial: 'property', object: property
    - if !@properties_rent.blank?
      %h3.h2 Найденные объекты для аренды
      .hr
      %ul.search_list.small
        - @properties_rent.each do |property|
          = render partial: 'property', object: property
  = render_cell :property, :sidebar, for: 'search-bottom'
  = paginate @pager if @pager
