- property_for = params[:property_for] || @property.try(:property_for)
%h3.sidebar-label
  Поиск недвижимости
.filter_section.property-for
  %label{:for => "one"}
    Продажа
  %input#one{:name => "first_item", :type => "radio", :value => "1", class: "radio-sidebar"}
  %label{:for => "filst_item"}
    Аренда
  %input#one{:name => "first_item", :type => "radio", :value => "1", class: "radio-sidebar"}
  %label{:for => "first_item"}
.filter_section.type
  %h2.sidebar-h2
    Тип недвижимости
  .filter_label_holder.clearfix
    - Property::TYPES.each do |type|
      - checked = (params[:property_type] || []).member?(type)
      %label{class: "filter_label label_checkbox#{' big' if type =~ /\A\D/}#{' act' if checked}"}
        = check_box_tag 'property_type[]', type, checked
        = t("property.type.#{type}")
.filter_section.cost
  - case property_for
  - when 'buy'
    %h2
      %span.has-tooltip{title: t("tooltips.#{property_for}.price")} Стоимость
    %div
      %input{name: "price", placeholder: "желаемая сумма", value: params[:price]}>/
        ±  
      %input.percents{name: "percents", value: params[:percents] || 10}/
       %
  - when 'rent'
    %h2
      %span.has-tooltip{title: t("tooltips.#{property_for}.price")} Аренда
    .rent
      %input{name: "price", placeholder: "сумма аренды за неделю", value: params[:price]}>/
      ±
      %input.percents{name: "percents", value: params[:percents] || 10}/
      \%
      .filter_section.cities
  %h2.sidebar-h2
    Расположение
  .filter_label_holder.clearfix
    - City.all.each do |city|
      - checked = (params[:city_id] || []).member?(city.id.to_s)
      %label{class: "filter_label label_checkbox#{' act' if checked}"}
        = check_box_tag 'city_id[]', city.id, checked
        = city.name
.filter_section.cost-input
  <input placeholder="Цены до,  &euro;" name="price">
  <input placeholder="Цены от,  &euro;" name="price">
.filter_section.distance.general
  %h2.sidebar-h2
    Расстояние до моря
  .filter_label_holder.clearfix
    - Property::DISTANCES.each do |distance|
      - checked = (params[:to_sea] || []).member?(distance.to_s)
      %label{class: "filter_label label_checkbox#{' act' if checked}"}
        = check_box_tag 'to_sea[]', distance, checked
        = distance
        м
.submit-filter
  %span.btn.btn_input.big
    Поиск
    %i.input
      %input{:type => "submit"}/
