%h3.sidebar-label
  Недвижимость в Турции
%ul.sidebar_list
  %li
    = link_to "Недвижимость в Алании", buy_search_path(city_id: "1")
    %ul
      %li
        = link_to "-Алания центр", buy_search_path(city_id: "1")
      %li
        = link_to "-Авсаллар", buy_search_path(city_id: "13")
      %li
        = link_to "-Конаклы", buy_search_path(city_id: "14")
      %li
        = link_to "-Оба", buy_search_path(city_id: "11")
      %li
        = link_to "-Тосмур", buy_search_path(city_id: "15")
      %li
        = link_to "-Кестел", buy_search_path(city_id: "8")
      %li
        = link_to "-Махмутлар", buy_search_path(city_id: "9")
      %li
        = link_to "-Каргыджак", buy_search_path(city_id: "12")
      %li
        = link_to "-Газипаша", buy_search_path(city_id: "5")
  %li
    = link_to "Недвижимость в Анталии",  buy_search_path(city_id: "2")
  %li
    = link_to "Недвижимость в Сиде", buy_search_path(city_id: "10")
  %li
    = link_to "Недвижимость в Кемере", buy_search_path(city_id: "7")
  %li
    = link_to "Недвижимость в Бодруме", buy_search_path(city_id: "4")
  %li
    = link_to "Недвижимость в Белеке", buy_search_path(city_id: "3")
  %li
    = link_to "Недвижимость в Каш", buy_search_path(city_id: "6")

