<%- model_class = Photo -%>
<div class="page-header">
  <h1><%= parent.name %> Photos</h1>
</div>
<div class="row" id="photos">
  <%= render @photos %>
</div>

<%= form_for [:admin, parent, Photo.new] do |f| %>
    <%= f.label :picture, "Upload photos:" %>
    <%= f.file_field :picture, multiple: true, name: "photo[picture]" %>
<% end %>

