<%= simple_form_for parent? ? [:admin, parent, @slider] : [:admin, @slider], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :photo, as: :image_preview, input_html: { preview_version: :thumb } %>
  <%= f.input :model_type, as: :hidden %>
  <%= f.input :model_id, as: :hidden %>
  <% if @slider.model_type == 'main' %>
    <%#= f.simple_fields_for :data, @slider.data do |ff| %>
      <%= f.input :title %>
      <%= f.input :price, as: :integer %>
      <%= f.input :description, as: :text %>
      <%= f.input :link %>
    <%# end - %>
  <% end %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_sliders_path, :class => 'btn' %>
  </div>
<% end %>
