<%- model_class = Slider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped sortable" id="sliders" data-sort-url="<%= url_for [:sort, :admin, parent || params[:slider_type], :sliders] %>">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:photo) %></th>
      <th><%= model_class.human_attribute_name(:data) %></th>
      <th><%= model_class.human_attribute_name(:video) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @sliders.each do |slider| %>
      <tr id="<%= dom_id(slider) %>">
        <td style="text-align:center;"><i class="icon-move"></i></td>
        <td><%= slider.id %></td>
        <td><%= image_tag slider.photo.thumb %></td>
        <td>
          <% if slider.model_type == 'main' %>
            <%= slider.data['title'] %>
          <% end -%>
        </td>
        <td><%= 'yes' if slider.video? %></td>
        <td><%=l slider.created_at, format: :short %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      [:edit, :admin, parent || params[:slider_type], slider], :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      [:admin, parent || params[:slider_type], slider],
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            [:new, :admin, parent || params[:slider_type], :slider],
            :class => 'btn btn-primary' %>
