  <ul class="sidebar_nav clmn_left">
  <% property_for = params[:property_for] || @property.try(:property_for) %>
    <% case property_for %>
    <% when 'buy' %>
        <li class="li"><%= link_to "Листать предложения по продаже", "/buy/search" %></li>
        <li class="li"><%= link_to "Правила покупки недвижимости", Service.exists?(5) ? Service.find(5) : '#' %></li>
    <% when 'rent' %>
        <li class="li"><%= link_to "Листать предложения по аренде", "/rent/search" %></li>
        <li class="li"><%= link_to "Правила аренды в Турции", Service.exists?(5) ? Service.find(5) : '#' %></li>
    <% end -%>
    <% if @property %>
        <li class="li"><%= link_to "Вся недвижимость #{@property.city.name_case}", @property.city %></li>
    <% end %>
    <li class="shadow"></li>
    <li class="shadow bottom"></li>
  </ul>
