.b-sidebar
  %h2= number_to_currency @property.price, 'euro'
  %dl.dl-horizontal
    %dt ID объекта
    %dd= @property.oid
    %dt Город
    %dd= @property.city.name
    %dt Тип
    %dd= @property.property_type
    %dt Площадь
    %dd #{@property.total_area} кв. м
    %dt До моря
    %dd #{@property.to_sea} м
    - @property.property_attributes.each do |attr, value|
      %dt= t "property_attribute.#{attr.name}"
      %dd= attr.answer(value)
