<% title @settings.title %>
<% description @settings.description %>
<%= render 'top_sidebar' %>

<div class="filter">
  <% case params[:property_for] %>
  <% when 'buy' %>
      <h1>Недвижимость в Турции на продажу</h1>
  <% when 'rent' %>
      <h1>Недвижимость в Турции в аренду</h1>
  <% end -%>
  <div class="inner clearfix">
    <form action="<%= "/#{params[:property_for]}/search" %>" method="GET">
      <div class="clmn fleft">
        <%= render 'filter' %>
      </div>
      <div class="clmn fright">
        <div class="filter_section city">
          <h2>Выберите города</h2>

          <div class="filter_label_holder clearfix">
            <% @cities.each do |city| %>
                <label class="filter_label label_checkbox"><input type="checkbox" name="city_id[]" value="<%= city.id %>"><%= image_tag city.cover.asset.thumb %>
                  <span class="title"><%= city.name %></span></label>
            <% end %>
          </div>

          <span class="btn btn_input big">ИСКАТЬ<i class="input"><input type="submit"/></i></span>
        </div>
      </div>
    </form>
  </div>
</div>

<ul class="sidebar_nav clmn_left">
  <li class="li"><%= link_to "Проверка резерваций аренды", reservations_path %></li>
  <li class="li"><%= link_to "Заказать трансфер", transfer_index_path %></li>
  <li class="shadow"></li>
  <li class="shadow bottom"></li>
</ul>
<div class="clmn_right">
  <ul class="apartment_list clearfix">
    <%= render @properties %>
  </ul>

  <p class="text">
    <%= @settings.seo_text %>
  </p>
</div>
<div class="clear"></div>
