- title @settings.title
- description @settings.description
- keywords @settings.keywords

= render_cell :property, :sidebar, position: 'top', for: params[:property_for], banner: true
.filter
  - case params[:property_for]
  - when 'buy'
    %h1 Недвижимость в Турции на продажу
  - when 'rent'
    %h1 Недвижимость в Турции в аренду
  = render_breadcrumbs
  .inner.clearfix
    %form{action: "/#{params[:property_for]}/search", method: "GET"}
      .clmn.fleft
        = render 'filter'
      .clmn.fright
        .filter_section.city
          %h2
            %span.has-tooltip{title: t("tooltips.#{params[:property_for]}.city")} Выберите города
          .filter_label_holder.clearfix
            - @cities.each do |city|
              %label.filter_label.label_checkbox
                %input{name: "city_id[]", type: "checkbox", value: city.id}/
                = image_tag city.cover.asset.thumb
                .readmore
                  %p
                    Подробнее о городе
                    = link_to "Здесь ▶", city_path(city)
                %span.title= city.name
          %span.btn.btn_input.big
            ИСКАТЬ
            %i.input
              %input{type: "submit"}/
= render_cell :property, :sidebar, type: 'reservation'
.clmn_right
  - if false # Disabled
    %ul.apartment_list.clearfix= render @properties
  .text
    = raw @settings.seo_text
.clear
