= title build_title_with_page
= description(@settings.search_description) if request.query_string.blank?

= render_cell :property, :sidebar, position: 'top', for: params[:property_for], banner: true
.results
  %h1.h1= build_title
  = render_breadcrumbs
  .inner.clearfix
    .clmn.fleft
      %form.live-form{action: "/#{params[:property_for]}/search", "data-push" => "partial", "data-target" => "#live", method: "GET"}
        = render 'filter'
    #live.clmn.fright{role: "live", style: "width:712px;"}
      %ul.apartment_list.clearfix
        - if @properties.size > 0
          = render @properties
        - else
          %li.nothin{style: "text-align: center;"}
            %h3 Результатов нет
      = paginate @properties
= render_cell :property, :sidebar, type: 'reservation'
.clmn_right
  #seo-text.text
    = @seo_text
.clear
