<%= render 'top_sidebar' %>

<div class="results">
  <h1 class="h1">Результаты поиска</h1>

  <div class="inner clearfix">
    <div class="clmn fleft">
      <form class="live-form" action="<%= "/#{params[:property_for]}/search" %>" method="GET" data-push="true">
      <%= render 'filter' %>
      </form>
    </div>
    <div class="clmn fright" role="live" id="live">
      <ul class="apartment_list clearfix">
        <%= render(@properties) || "<li class='nothin'>Результатов нет</li>".html_safe %>
      </ul>
      <%= paginate @properties %>
      <%# <div class="pagination fright clearfix"> %>
      <%# <a href="#" class="pages">Страница 1 из 2</a> %>
      <%# <a href="#" style='display:none'>&laquo;</a> %>
      <%# <a href="#">1</a> %>
      <%# <a href="#">2</a> %>
      <%# <a href="#">&raquo;</a> %>
      <%# </div> %>
    </div>
  </div>
</div>

<ul class="sidebar_nav clmn_left">
  <li class="li"><a href="" title="">Проверка резерваций аренды</a></li>
  <li class="li"><%= link_to "Заказать трансфер", transfer_index_path %></li>
  <li class="shadow"></li>
  <li class="shadow bottom"></li>
</ul>
<div class="clmn_right">
  <p class="text">
    <%= @settings.seo_text %>
  </p>
</div>
<div class="clear"></div>
