- master_photo = @property.photos.shift || @property.photo

.g-row
  .b-mainbar
    .g-row
      %h1= @property.name
    .g-row
      .b-master-photo
        = wicked_pdf_photo_tag master_photo, style: :big
  = render 'sidebar_pdf'
.g-row
  - @property.photos.order('position asc').each do |photo|
    = wicked_pdf_photo_tag photo, title: photo.title, alt: photo.alt
%span.has-tooltip{title: "Количество просмотров: #{ number_with_delimiter @property.count_of_views } раз" }
= raw @property.description
