- title @settings.title.blank? ? "#{@property.name}. #{t "property.for.#{@property.property_for}"} недвижимости в #{@property.city.name_case3}, Турция." : @settings.title
- description @settings.description.blank? ? "#{t "property.for.#{@property.property_for}"} недвижимости по цене #{@property.price} евро. Лучшие предолжения от застройщика в Турции. Большой выбор квартир и вилл у моря." : @settings.description
- keywords @settings.keywords


.buy_page
  .buy_item
    .item_price= @property.oid
    %h1.label
      = @property.name
      = edit(edit_admin_property_path(@property))
    .buy_item_text
      .buy_item_photos.clearfix
        #gallery-1.royalSlider.rsDefault
          - @property.photos.order('position asc').each do |photo|
            = link_to photo.url, class:"rsImg" do
              = image_tag photo.url(:big), class:"rsTmb"

      = raw @property.description
      = link_to "НАЗАД", request.env["HTTP_REFERER"] || "/#{@property.property_for}/search", class: "btn gray back_btn"
      %a.btn.big.send_offer{href: offer_property_path(@property)} ОТПРАВИТЬ ЗАПРОС
      .clear
    .buy_item_info
      .line.bt0
        %strong.price
          Цена: #{number_to_currency @property.price, 'euro'}
      .line.grey_dark
        Город
        .span
          #{link_to @property.city.name, @property.city}
      .line.grey_light
        Тип недвижимости
        .span
          #{@property.property_type}
      .line.grey_dark
        Общая площадь
        .span
          #{@property.total_area} кв. м
      .line.grey_light
        Расстояние до моря: #{@property.to_sea} м
      %ul
        - @property.property_attributes.each do |attr, value|
          .line
            = t "property_attribute.#{attr.name}"
            .span
              #{attr.answer(value)}
      - unless @property.includes.empty?
        .line.bt0
          %strong
            В стоимость входит
        %ul
          - @property.includes.each do |include|
            .line
              = include.name
      %br
      - unless @property.credit_rate.blank?
        .line.grey_dark
          .center
            Условия кредита
        %form#loan{:action => "", :method => "POST", :name => "myform", class: "calc"}
          %input#price{:name => "price", :type => "hidden", :value => "#{ @property.price} €"}
            %label{:for => "first"} Первоначальный взнос
            %input#first{:name => "first", :type => "text", value: "#{@property.price / 2} €"}
            %label{:for => "months"} Срок кредита, лет
            %input#months{:name => "months", :type => "text", :value => "10"}
              %label{:for => "percentage"} Процентная ставка, %
              %input#percentage{:name => "percentage", :type => "text", :value => "#{@property.credit_rate}"}
                %label{:for => "payment"} Ежемесячный платеж
                %input#payment{:name => "payment", :readonly => "readonly", :type => "text", :value => ""}
      %br
      - unless @property.manager_people.blank?
        - @property.manager_people.each do |person|
          .person
            .person_photo
              - if person.photo
                = image_tag person.photo_url(:thumb)
            .person_info
              .person_title
                .name
                  - if person.name
                    %b
                      = person.name
                .position
                  - if person.position
                    = person.position
                %br
                = person.location
                = person.language
                = person.email
                = person.phone
                = person.skype




  = render 'shared/nav'

:javascript
  $('#gallery-1').royalSlider({
    fullscreen: {
      enabled: true,
      nativeFS: true
    },
    controlNavigation: 'thumbnails',
    autoScaleSlider: true,
    autoScaleSliderWidth: 960,
    autoScaleSliderHeight: 850,
    loop: false,
    imageScaleMode: 'fit-if-smaller',
    navigateByClick: true,
    numImagesToPreload:2,
    arrowsNav:true,
    arrowsNavAutoHide: true,
    arrowsNavHideOnTouch: true,
    keyboardNavEnabled: true,
    fadeinLoadedSlide: true,
    globalCaption: true,
    globalCaptionInside: false,
    thumbs: {
      appendSpan: true,
      firstMargin: true,
      paddingBottom: 4
    }
  });
