<% title "#{@property.name}. #{t "property.for.#{@property.property_for}"} недвижимости в #{@property.city.name}, Турция." %>
<% description "#{t "property.for.#{@property.property_for}"} недвижимости по цене #{@property.price} евро. Лучшие предолжения от застройщика в Турции. Большой выбор квартир и вилл у моря." %>
<div class="buy_page">
  <%= render_cell :property, :sidebar, for: @property.property_for, city: @property.city %>

  <div class="buy_item">
    <div class="item_price"><%= number_to_currency @property.price, 'euro' %></div>
    <h1 class="h1"><%= @property.name %></h1>

    <div class="hr"></div>
    <div class="buy_item_text">
      <div class="buy_item_photos clearfix">
        <% master_photo = @property.photos.shift || @property.photo %>
        <div class="img big"><%= photo_tag master_photo, style: :big, title: master_photo.respond_to?(:title) ? master_photo.title : @property.name, alt: master_photo.respond_to?(:alt) ? master_photo.alt : @property.name %></div>
        <% @property.photos.each do |photo| %>
            <div class="img"><%= photo_tag photo, title: photo.title, alt: photo.alt %></div>
        <% end -%>
      </div>


      <%= raw @property.description %>


      <%= link_to "НАЗАД", request.env["HTTP_REFERER"] || "/#{@property.property_for}/search", class: "btn gray back_btn" %>
      <a class="btn big send_offer" href="<%= offer_property_path(@property) %>">ОТПРАВИТЬ ЗАПРОС</a>

      <div class="clear"></div>
    </div>
    <div class="buy_item_info">

      <div class="line bt0"><strong>ID объекта: <%= @property.oid %></strong></div>
      <div class="line">Город: <%= @property.city.name %></div>
      <div class="line">Тип недвижимости: <%= @property.property_type %></div>
      <div class="line">Общая площадь: <%= @property.total_area %> кв. м</div>
      <div class="line">Расстояние до моря: <%= @property.to_sea %> м</div>
      <% @property.property_attributes.each do |attr, value| %>
          <div class="line"><%= t "property_attribute.#{attr.name}" %>: <%= attr.answer(value) %></div>
      <% end %>

      <%= link_to [:map, @property], class: 'buy_item_map property_map' do %>
          <span class="map"><%= image_tag(map_mini_image(@property.lat, @property.lng)) %></span>
          <span class="title">Смотреть на карте</span>
      <% end -%>

    </div>
    <div class="clear"></div>
    <% if false # disable block  %>
        <div class="hr"></div>
        <h3 class="relative_offers_title">Вас могут заинтересовать подобные предложения</h3>
        <ul class="relative_offers clearfix">
          <li class="li">
            <div class="img"><%= image_tag 'img.png' %></div>
            <div class="relative_offer_content">
              <div class="title">Жилой коплекс “Семь Звезд”</div>
              <div class="text">
                город: Алания<br/>
                комнат/спален: 1+1
              </div>
            </div>
            <div class="price">25 000 €</div>
            <span class="btn">ПОДРОБНЕЕ</span>
          </li>
        </ul>
    <% end %>
  </div>

  <div class="buy_filter">
    <%= render 'filter' %>
  </div>

  <div class="clear"></div>
  <%= render_cell :property, :sidebar, position: 'bottom', for: @property.property_for, banner: true %>
</div>
