%ul.sidebar_nav.clmn_left.navbar
  = render 'shared/sidebar/filter'
  = render 'shared/sidebar/property_info'
  =# render 'welcome/info'
  = render 'shared/sidebar/services'
  = render 'shared/sidebar/our_achives'
  = render 'shared/sidebar/contacts'
  = render 'shared/sidebar/icon'

