%ul.sidebar_nav.clmn_left.navbar
  = render 'welcome/filter'
  = render 'welcome/property_info'
  =# render 'welcome/info'
  = render 'welcome/services'
  = render 'welcome/our_achives'
  = render 'welcome/contacts'
  = render 'welcome/icon'

