- title = offer.title.present? ? offer.title : 'Горячее предложение'
- color = offer.color.present? ? offer.color : 'orange'

.offer_link
  = image_tag offer.photo.thumb2.url
  - one_word = title.split.size <= 1 ? 'one_word' : nil
  .info
    .p
      = offer.name
    %hr
    .p
      город:
      .span
        = offer.city.name
    .p
      комнат/спален:
      .span
        = offer.property_attributes.rooms
    %hr
    .p.price
      = number_to_currency offer.price, 'euro'
      .span.button
        = link_to "ПОДРОБНЕЕ", offer, class: "btn btn_input send_btn"
