- title = offer.title.present? ? offer.title : 'Горячее предложение'
- color = offer.color.present? ? offer.color : 'orange'

.offer_link
  = image_tag offer.photo.thumb2.url
  - one_word = title.split.size <= 1 ? 'one_word' : nil
  .info
    %p
      = offer.name
    %p
      Город
      %span.city
        = offer.city.name
    %p
      комнат/спален
      %span.room
        = offer.property_attributes.rooms
    %p
      = number_to_currency offer.price, 'euro'
      = button_to "ПОДРОБНЕЕ", offer, method: :get
