- offerable = offer.offerable

= link_to offerable, class: "offer_link#{' new' if offerable.new? }" do
  = image_tag offerable.photo.thumb2
  - if offer.title.present?
    .ribbon-wrapper
      .ribbon{ class: "r-#{offer.color}" }= offer.title
  %span.offer_info.clearfix{ class: "r-#{offer.color}" }
    %span.price= number_to_currency offerable.price, 'euro'
    %span.title= offerable.name
