- title @settings.title
- description @settings.description
- keywords @settings.keywords
.sidebar
  = render 'welcome/filter'
  = render 'welcome/property_info'
  = render 'welcome/info'
  = render 'welcome/services'
.content_with_sidebar
  .main_slider_holder
    #main-slider.main_slider
      .items_holder
        - @sliders.each do |slider|
          .item{style: "background-image: url('#{image_path slider.photo.big}');"}
            = link_to(''.html_safe, slider.video, class: 'video play_video', alt: 'Play Video') if slider.video?
            %span.item_info
              %span.item_header
                %span.item_price= number_to_currency slider.price, 'euro'
                %span.item_title= slider.title
              %span.item_content
                %span.item_text= slider.description
                %a.item_more{href: slider.link} Читать далее
      .toggles
        - @sliders.each do
          %i.toggle
      .arrow.left
      .arrow.right

  / Begin MailChimp Signup Form
  / End mc_embed_signup
  = render 'welcome/main_text'
  = render 'welcome/hot_offers'
  = render 'welcome/hot_offers_cities'
