<% title @settings.title %>
<% description @settings.description %>

<div class="main_slider_holder">
  <div class="main_slider" id="main-slider">
    <div class="items_holder">
      <% @sliders.each do |slider| %>
      <div class="item" style="background-image: url('<%= image_path slider.photo.big %>');">
        <span class="item_info">
            <span class="item_header">
                <span class="item_price"><%= number_to_currency slider.price, 'euro' %></span>
                <span class="item_title"><%= slider.title %></span>
            </span>
            <span class="item_content">
                <span class="item_text"><%= slider.description %></span>
                <a class="item_more" href="<%= slider.link %>">Читать далее</a>
            </span>
        </span>
      </div>
      <% end -%>
    </div>
    <div class="toggles">
      <% @sliders.each do %>
        <i class="toggle"></i>
      <% end -%>
    </div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
  </div>
</div>

<div class="main_links clearfix">
  <a class="mlink mlink1" href="<%= buy_path %>"><i></i>Квартиры на продажу</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink2" href="<%= buy_search_path(property_type: ['villa']) %>"><i></i>Виллы на продажу</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink3" href="<%= service_path(4) %>"><i></i>Кредит в Турции</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink4" href="<%= service_path(3) %>"><i></i>Вид на жительство</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink5" href="<%= service_path(1) %>"><i></i>Ознакомительный тур</a>
</div>

<!-- Begin MailChimp Signup Form -->
<div class="email_subscribe">
  <form action="http://alanyaproperties.us6.list-manage.com/subscribe/post?u=614113bd37&amp;id=015a5b2c51" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<label for="mce-EMAIL">Введите свой e-mail, чтобы подписаться на новости и горячие предложения</label>
  <input type="email" value="" name="EMAIL" class="email email_input" id="mce-EMAIL" placeholder="email address" />
  <span class="btn white btn_input"><i class="input"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" /></i> Подписаться<i class="icon email_icon"></i></span>
  </form>

</div>
<!--End mc_embed_signup-->


<%# <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css"> %>
<%# <style type="text/css"> %>
	<%# #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; } %>
	<%# /* Add your own MailChimp form style overrides in your site stylesheet or in this style block. %>
		 <%# We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */ %>
<%# </style> %>
<%# <div id="mc_embed_signup"> %>
<%# </div> %>


<div class="offers clearfix">
  <% @properties.each do |property| %>
    <%= link_to property, class: "offer_link#{' new' if property.new? }" do %>
      <%= image_tag property.photo.thumb2 %>
      <% if property.hot? %>
        <i class="ribbon_plus_orange plus"></i>
        <i class="ribbon_hot_dial"></i>
      <% elsif property.new? %>
        <i class="ribbon_plus_blue plus"></i>
        <i class="ribbon_new"></i>
      <% else %>
        <i class="ribbon_plus_orange plus"></i>
      <% end -%>

      <span class="offer_info clearfix">
        <span class="price"><%= number_to_currency property.price, 'euro' %></span>
        <span class="title"><%= property.city.name %></span>
        <%= property.name %>
      </span>
    <% end %>
  <% end %>
</div>

<div class="main_text">
  <h3><%= @settings.seo_title %></h3>
  <div class="expander">
    <%= simple_format @settings.seo_text %>
  </div>
</div>
