<div class="main_slider_holder">
  <div class="main_slider" id="main-slider">
    <div class="items_holder">
      <div class="item" style="background-image: url('<%= image_path 'slider_img.png' %>');">
                        <span class="item_info">
                            <span class="item_header">
                                <span class="item_price">35 001 €</span>
                                <span class="item_title">Кто написано большого</span>
                            </span>
                            <span class="item_content">
                                <span class="item_text">Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про.</span>
                                <span class="item_more">Читать далее</span>
                            </span>
                        </span>
      </div>
      <div class="item" style="background-image: url('<%= image_path 'slider_img1.png' %>');">
                        <span class="item_info">
                            <span class="item_header">
                                <span class="item_price">35 002 €</span>
                                <span class="item_title">Кто написано большого</span>
                            </span>
                            <span class="item_content">
                                <span class="item_text">Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про.</span>
                                <span class="item_more">Читать далее</span>
                            </span>
                        </span>
      </div>
      <div class="item" style="background-image: url('<%= image_path 'slider_img.png' %>');">
                        <span class="item_info">
                            <span class="item_header">
                                <span class="item_price">35 003 €</span>
                                <span class="item_title">Кто написано большого</span>
                            </span>
                            <span class="item_content">
                                <span class="item_text">Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про.</span>
                                <span class="item_more">Читать далее</span>
                            </span>
                        </span>
      </div>
      <div class="item" style="background-image: url('<%= image_path 'slider_img1.png' %>');">
                        <span class="item_info">
                            <span class="item_header">
                                <span class="item_price">35 004 €</span>
                                <span class="item_title">Кто написано большого</span>
                            </span>
                            <span class="item_content">
                                <span class="item_text">Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про.</span>
                                <span class="item_more">Читать далее</span>
                            </span>
                        </span>
      </div>
      <div class="item" style="background-image: url('<%= image_path 'slider_img.png' %>');">
                        <span class="item_info">
                            <span class="item_header">
                                <span class="item_price">35 005 €</span>
                                <span class="item_title">Кто написано большого</span>
                            </span>
                            <span class="item_content">
                                <span class="item_text">Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про.</span>
                                <span class="item_more">Читать далее</span>
                            </span>
                        </span>
      </div>
    </div>
    <div class="toggles">
      <i class="toggle"></i>
      <i class="toggle"></i>
      <i class="toggle act"></i>
      <i class="toggle"></i>
      <i class="toggle"></i>
    </div>
    <div class="arrow left"></div>
    <div class="arrow right"></div>
  </div>
</div>

<div class="main_links clearfix">
  <a class="mlink mlink1" href="<%= buy_path %>"><i></i>Квартиры на продажу</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink2" href="<%= buy_search_path(property_type: ['villa']) %>"><i></i>Виллы на продажу</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink3" href=""><i></i>Кредит в Турции</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink4" href=""><i></i>Вид на жительство</a>
  <i class="mlink_separ"></i>
  <a class="mlink mlink5" href=""><i></i>Ознакомительный тур</a>
</div>

<div class="email_subscribe">
  Введите свой e-mail, чтобы подписаться на новости и горячие предложения
  <input class="email_input"/>
  <span class="btn white">Подписаться<i class="icon email_icon"></i></span>
</div>

<div class="offers clearfix">
  <a class="offer_link" href="" title="">
    <%= image_tag 'img.png' %>
    <i class="ribbon_plus_orange"></i>
    <i class="ribbon_hot_dial"></i>
                <span class="offer_info clearfix">
                    <span class="price">25 000 €</span>
                    <span class="title">Анталия</span>
                    4-х комнатная квартира около моря
                </span>
  </a>
  <a class="offer_link" href="" title="">
    <%= image_tag 'img.png' %>
  </a>
  <a class="offer_link" href="" title="">
    <%= image_tag 'img.png' %>
  </a>
  <a class="offer_link new" href="" title="">
    <%= image_tag 'img.png' %>
    <i class="ribbon_plus_blue"></i>
    <i class="ribbon_new"></i>
                <span class="offer_info clearfix">
                    <span class="price">25 000 €</span>
                    <span class="title">Анталия</span>
                    4-х комнатная квартира около моря
                </span>
  </a>
</div>

<div class="main_text">
  <h3>Где такие программного не.</h3>

  <p>Свою полугода состоянии то это. Ну главное раздутых лет, труда программ эти во, там кучу стратегии но. Кто написано
    большого маленький во, мои опять должны до, бог ну зону действия. Во если мирам получить про. Понять двигает вот ну.
    Тем конечного превосходные об. Об делаете одиночку обеспечении том, работу поговорить несерьёзный про то, взлета
    университет тд бы. Об его шагов ничего, мы несчастье остальные уже, без не выдают поработать работающих. Фон коде
    решить по, по фон фирме огонь глубже. <a href="" title="">Читать далее...</a></p>
</div>
