- title @setting.seo_title || 'Contacts'
- description @setting.seo_description
- keywords @setting.keywords

.contacts_page.clearfix
  .clmn_left
    %h2.h2 Адреc агенства
    - @setting.phones.split(/\s*,\s*/).each do |phone|
      .phone= phone
    = simple_format @setting.address
    - if @setting.geo
      - lat, lng = @setting.geo.split(/\s*,\s*/)
      = link_to [:contacts, :map], class: 'buy_item_map property_map' do
        %span.map= image_tag(map_mini_image(lat, lng))
        %span.title Смотреть на карте
    .hr
    - if @setting.skype
      %a.skype{:href => "skype:#{@setting.skype}?call"} Звонить по Скайпу
    %a.other_contacts{:href => "#{AboutPage.exists?(3) ? url_for(AboutPage.find(3)) : '#'} "}
      Контакты наших партнеров
      %br>/
      в других странах
  .clmn_right
    %h2.h2 Выберите, кому вы хотите отправить сообщение
    = form_for @message, url: '', html: {class: 'form'} do |f|
      .persone_send_holder.clearfix
        - ContactPerson.all.each do |p|
          %label{:class => "persone_send label_radio #{'act' if p.default?}"}
            = f.radio_button :contact_person_id, p.id, checked: p.default?
            = image_tag p.photo.thumb
            %span.name= p.name
            %span.position= p.post
      = simple_format @setting.text
      .form_left
        = f.text_field :contact_name, placeholder: 'Ваше имя и фамилия', class: 'input'
        = f.email_field :contact_email, placeholder: 'Ваш e-mail', class: 'input'
        = f.phone_field :contact_phone, placeholder: 'Ваш телефон + xx xxx xxx xxxx', class: 'input'
        .select
          - first_topic = ContactTopic.first
          = f.hidden_field :contact_topic_id, value: first_topic.try(:id)
          .sel_val
            %span= first_topic.try(:name)
          .sel_optns
            - ContactTopic.all.each do |topic|
              %span.sel_optn{:rel => topic.id}= topic.name
      .form_right
        = f.text_area :message, placeholder: 'Введите текст вашего сообщения'
        %label.label_send_to_me
          = check_box_tag :send_me_copy
          Отправить копию этого сообщения на мою
          почту
      .clear
      %span.btn.btn_input.big.send_btn
        ОТПРАВИТЬ
        %i.input
          %input{:type => "submit"}/
      .clear

    .b-social
      = render 'shared/vk'
