        <div class="contacts_page clearfix">
            <div class="clmn_left">
                <h2 class="h2">Адреc агенства</h2>
                <% @setting.phones.split(/\s*,\s*/).each do |phone| %>
                  <div class="phone"><%= phone %></div>
                <% end -%>

                <%= simple_format @setting.address %>

                <% if @setting.geo %>
                  <% lat, lng = @setting.geo.split(/\s*,\s*/) %>
                  <%= link_to [:contacts, :map], class: 'buy_item_map property_map' do %>
                    <span class="map"><%= image_tag(map_mini_image(lat, lng)) %></span>
                    <span class="title">Смотреть на карте</span>
                  <% end -%>
                <% end -%>

                <div class="hr"></div>

                <% if @setting.skype %>
                  <a class="skype" href="skype:<%= @setting.skype %>?call">Звонить по Скайпу</a>
                <% end -%>
                <span class="other_contacts">Контакты наших партнеров<br />в других странах</span>
            </div>
            <div class="clmn_right">
                <h2 class="h2">Выберите, кому вы хотите отправить сообщение</h2>

                <%= form_for @message, url: '', html: { class: 'form' } do |f| %>

                    <div class="persone_send_holder clearfix">
                      <% ContactPerson.all.each do |p| %>
                        <label class="persone_send label_radio <%= 'act' if p.default? %>">
                            <%= f.radio_button :contact_person_id, p.id, checked: p.default? %>
                            <%= image_tag p.photo.thumb %>
                            <span class="name"><%= p.name %></span>
                            <span class="position"><%= p.post %></span>
                        </label>
                      <% end -%>
                    </div>

                    <%= simple_format @setting.text %>

                    <div class="form_left">
                      <%= f.text_field :contact_name, placeholder: 'Введите ваши имя и фамилию', class: 'input' %>
                      <%= f.email_field :contact_email, placeholder: 'Ваш e-mail', class: 'input' %>
                      <%= f.phone_field :contact_phone, placeholder: 'Ваш телефон + xx xxx xxx xxxx', class: 'input' %>
                      <div class="select">
                        <% first_topic = ContactTopic.first %>
                        <%= f.hidden_field :contact_topic_id, value: first_topic.try(:id) %>
                        <div class="sel_val"><span><%= first_topic.try(:name) %></span></div>
                        <div class="sel_optns">
                          <% ContactTopic.all.each do |topic| %>
                          <span class="sel_optn" rel="<%= topic.id %>"><%= topic.name %></span>
                          <% end -%>
                        </div>
                      </div>
                    </div>
                    <div class="form_right">
                      <%= f.text_area :message, placeholder: 'Введите текст вашего сообщения' %>
                        <label class="label_send_to_me"><%= check_box_tag :send_me_copy %> Отправить копию этого сообщения на мою почту</label>
                    </div>
                    <div class="clear"></div>

                    <span class="btn btn_input big send_btn">ОТПРАВИТЬ<i class="input"><input type="submit" /></i></span>
                    <div class="clear"></div>

                  <% end -%>
            </div>
        </div>
