- @city.build_cover unless @city.cover
= simple_form_for [:admin, @city], html: { class: 'form-horizontal', multipart: true } do |f|
  = f.input :url, as: :text
  = f.input :name
  = f.input :name_case, hint: "Имя в падеже"
  = f.input :name_case2, hint: "Имя в падеже для ФОТО"
  = f.input :name_case3, hint: "Имя в падеже для \"Купить недвижимость в ...\""
  = f.input :description, input_html: { class: 'redactor' }
  = f.input :created_at, as: :string, input_html: { class: 'datetimepicker', value: f.object.created_at.to_s(:db) }
  = f.simple_fields_for :cover do |ff|
    = ff.input :asset, as: :image_preview, input_html: { preview_version: :thumb }, label: "Cover"
    = ff.input :asset_cache, as: :hidden
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), [:admin, :cities], class: 'btn'
