.page-header
  %h1 Новая плашка горячих предложений Городов

= simple_form_for @resource, url: { controller: controller_name, action: 'create' }, html: { class: 'form-horizontal' } do |f|
  = f.input :title, input_html: {class: 'input-xxlarge'}
  = f.input :offerable, collection: controller_name.classify.constantize.all, selected: @resource.offerable.try(:id)
  = f.input :color, collection: HotOffer::COLORS
  = f.input :publish
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), [:admin, :hot_offers, controller_name], class: 'btn'
