<a class="some_tour" href="<%= @banner.link %>" title="<%= @banner.name %>">
  <span class="img_holder">
    <span class="title"><%= @banner.name %></span>
    <%= image_tag @banner.picture.left %>
  </span>
  <span class="text1"><%= @banner.description %></span>
  <span class="text2"><%= @banner.tip %></span>
</a>
