- @content_class = 'services_page'
- title @settings.title || @about_page.title
- description @settings.description
- keywords @settings.keywords

= render 'shared/nav'
.right_clmn
  .tour
    %h2.label
      = @about_page.title
    .tour-content
      = render 'shared/top_people' if @about_page.url == "our_history"
      = render 'shared/mini_slider'

      .b-shared-buttons= render 'shared/shared_buttons'
      = render_breadcrumbs
      = render partial: 'shared/count_of_views', locals: { count_of_views: @about_page.count_of_views }
      .b-content__text
        = raw @about_page.body
      / </div>
    .clear
