<% # TODO: Refactor this shit)) %>
<% if @position %><div class="<%= @position %>_sidebar clearfix"><% end %>
    <ul class="sidebar_nav clmn_left">
    <% case @for %>
    <% when 'buy', 'search', 'search-bottom' %>
      <% if @position == 'bottom' || @for == 'search-bottom' %>
        <li class="li"><%= link_to "Горячие предложения", '/buy/search?hot=true' %></li>
        <li class="li"><a class="large" href="<%= contacts_path %>">Отправить запрос<br/>На подбор недвижимости для покупки</a></li>
      <% else %>
        <li class="li"><%= link_to "Листать предложения по продаже", "/buy/search" %></li>
        <li class="li"><%= link_to "Правила покупки недвижимости", Service.exists?(3) ? Service.find(3) : '#' %></li>
      <% end %>
    <% when 'rent', 'reservation' %>
      <% if @position == 'bottom' %>
        <li class="li"><%= link_to "Горячие предложения", '/rent/search?hot=true' %></li>
        <li class="li"><a class="large" href="<%= contacts_path %>">Отправить запрос<br/>На подбор недвижимости для аренды</a></li>
      <% else %>
        <li class="li"><%= link_to "Листать предложения по аренде", "/rent/search" %></li>
        <li class="li"><%= link_to "Правила аренды в Турции", Service.exists?(5) ? Service.find(5) : '#' %></li>
      <% end %>
    <% end -%>
    <% if @city %>
        <li class="li"><%= link_to "Вся недвижимость #{@city.name_case}", "/#{@for}/search?city_id#{u('[]')}=#{@city.id}" %></li>
    <% end %>
    <% if @type == 'reservation' %>
        <li class="li"><%= link_to "Проверка резерваций аренды", reservations_path %></li>
        <li class="li"><%= link_to "Заказать трансфер", transfer_index_path %></li>
    <% end %>


      <li class="shadow"></li>
      <li class="shadow bottom"></li>
    </ul>
    <% if @banner %>
      <%= render_cell :banner, :top, @for %>
    <% end %>
<% if @position %></div><% end %>

