<% @content_class = 'city_page' %>

<% title @settings.title || @city.name %>
<% description @settings.description %>
<% keywords @settings.keywords %>

<%= render 'shared/turkey_navbar' %>
<div class="right_clmn">
  <%= render 'shared/mini_slider' %>

  <div class="city_content">

    <div class="city_text">
      <%= link_to "Купить недвижимость в #{@city.name_case3}", buy_search_path(city_id: [@city.id]), class: 'order_link' %>
      <%= link_to "Арендовать жилье в #{@city.name_case3}", rent_search_path(city_id: [@city.id]), class: 'order_link' %>

      <div class="clear"></div>
      <%= edit(edit_admin_city_path(@city)) %>
      <%= raw @city.description %>
    </div>

    <% unless @city.photos.blank? %>
    <h2 class="h2">Фото <%= @city.name_case2 %></h2>
    <ul class="photo_list">
      <% @city.photos.each do |photo| %>
      <li class="li">
        <div class="img">
          <%= photo_tag photo, style: :thumb2, title: photo.title, alt: photo.alt %>
        </div>
        <!-- span class="img">
        </span -->
      </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>

<%= link_to_unless_current "Карта сейсмоактивности Турции", TurkeyNews.get_seismic_map, class: 'earthquake_map' do |name| %>
  <span class="earthquake_map act">Карта сейсмоактивности Турции</span>
<% end %>
<%= render_cell :banner, :left %>

<div class="clear"></div>
