- @content_class = 'city_page'
- title @settings.title || @city.name
- description @settings.description
- keywords @settings.keywords
= render 'shared/turkey_navbar'
.right_clmn
  = render 'shared/mini_slider'
  .city_content
    .city_text
      = link_to "Купить недвижимость в #{@city.name_case3}", buy_search_path(city_id: [@city.id]), class: 'order_link'
      = link_to "Арендовать жилье в #{@city.name_case3}", rent_search_path(city_id: [@city.id]), class: 'order_link'
      .clear
      = edit(edit_admin_city_path(@city))
      = render_breadcrumbs
      = render partial: 'shared/count_of_views', locals: { count_of_views: @city.count_of_views }
      .b-content__text
        = raw @city.description
    - unless @city.photos.blank?
      %h2.h2
        Фото #{@city.name_case2}
      %ul.photo_list
        - @city.photos.each do |photo|
          %li.li
            .img
              = photo_tag photo, style: :thumb2, title: photo.title, alt: photo.alt
            /
              span class="img">
              </span
= link_to_unless_current "Карта сейсмоактивности Турции", TurkeyNews.get_seismic_map, class: 'earthquake_map' do |name|
  %span.earthquake_map.act Карта сейсмоактивности Турции
= render_cell :banner, :left
.clear
