<%- model_class = Property -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped data-table">
  <thead>
  <tr>
    <th>#</th>
    <th><%= model_class.human_attribute_name(:oid) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:property_for) %></th>
    <th><%= model_class.human_attribute_name(:property_type) %></th>
    <th><%= model_class.human_attribute_name(:property_kind) %></th>
    <th><%= model_class.human_attribute_name(:price) %></th>
    <th><%= model_class.human_attribute_name(:city) %></th>
    <th><%= model_class.human_attribute_name(:hot) %></th>
    <th><%= model_class.human_attribute_name(:new) %></th>
    <th><%= model_class.human_attribute_name(:created_at) %></th>
    <th><%= t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @properties.each_with_index do |property, i| %>
      <tr>
        <td><%= i + 1 %></td>
        <td><%= link_to property.oid, property_path(property) %></td>
        <td><%= property.name %></td>
        <td><%= property.property_for %></td>
        <td><%= property.property_type %></td>
        <td><%= property.property_kind %></td>
        <td><%= property.price %></td>
        <td><%= property.city.name %></td>
        <td><%= property.hot? ? 'hot' : '' %></td>
        <td><%= 'new' if property.new? %></td>
        <td><%= l property.created_at, format: :short %></td>
        <td>
          <a href="<%= admin_property_photos_path(property) %>" class="btn btn-mini btn-success">
            <i class="icon-camera"></i> Photos
          </a>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_admin_property_path(property), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      admin_property_path(property),
                      :method => :delete,
                      :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_property_path,
            :class => 'btn btn-primary' %>
