<% title 'Заказать трансфер' %>
<% @content_class = 'services_page' %>
<%= render :partial => 'services/sidebar_nav' %>

<div class="right_clmn">
  <%= render 'shared/top_offer' %>

  <h1 class="h1">Трансфер</h1>

  <div class="services_content clearfix">
    <div style="padding-left: 116px">
      <p style="letter-spacing: 1px;
word-spacing: -1px;
text-indent: 2px;
font-size: 23px;
line-height: 29px;
font-weight: 100;">
<%= image_tag 'transfer_thanks_letter.png', style: 'margin-top: -2px;padding-right: 8px;' %>
 Спасибо!
<br /><br />
Подтверждние заказа будет выслано <br/>на указанный Вами адрес электронной почты.<br />
Приятного Вам отдыха!
<br /><br /><br />
<small style="font-size: 15px">Команда Alanya Properties</small>
</p>
    </div>
<%= image_tag 'transfer_thanks_image.jpg', style: 'margin-left: -10px;' %>
  </div>
</div>

<%= link_to "ЗАДАТЬ ВОПРОС", contacts_path, class: 'btn usk_question big' %>

<a class="some_tour" href="" title="">
            <span class="img_holder">
                <span class="title">ОЗНАКОМИТЕЛЬНЫЙ ТУР</span>
              <%= image_tag 'some_tour_img.png' %>
            </span>
  <span class="text1">Хотите изучить недвижимость<br/>в Турции за наш счет?</span>
  <span class="text2">Участвуйте в наших<br/>ознакомительных турах</span>
</a>



<div class="clear"></div>


