.footer.no-print
  .inner.clearfix
    %ul.inline
      %li
        = link_to "Квартиры в Турции", buy_search_path(property_type: "studio")
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "2") do
          Квартиры в Анталии
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "1") do
          Квартиры в Алании
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "13") do
          Квартиры в Авсалларе
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "9") do
          Квартиры в Махмутларе
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "8") do
          Квартиры в Кестеле
    %ul.inline
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "7") do
          Квартиры в Кемере
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "3") do
          Квартиры в Белеке
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "10") do
          Квартиры в Сиде
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "") do
          Квартиры в Фетхие
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "4") do
          Квартиры в Бодруме
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "") do
          Квартиры в Измир
    %ul.inline
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "") do
          Квартиры в Мерсине
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "") do
          Квартиры в Стамбуле
      %li
        = link_to buy_search_path(property_type: "studio", city_id: "") do
          Квартиры в Чешме
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Турции
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "2") do
          Виллы в Анталии
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "1") do
          Виллы в Алании
    %ul.inline
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "13") do
          Виллы в Авсалларе
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "9") do
          Виллы в Махмутларе
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "8") do
          Виллы в Кестеле
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "7") do
          Виллы в Кемере
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "3") do
          Виллы в Белеке
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "10") do
          Виллы в Сиде
    %ul.inline
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Фетхие
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: " 4") do
          Виллы в Бодруме
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Измир
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Мерсине
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Стамбуле
      %li
        = link_to buy_search_path(property_type: "lilla", city_id: "") do
          Виллы в Чешме
