.header.clearfix.no-print
  = link_to root_path, class: 'logo', title: 'Alanya Properties' do
    = image_tag 'logo.png', alt: 'Alanya Properties Logo'
  %table.nav
    %tr
      %td.td= menu_link "ГЛАВНАЯ", root_url
      %td#project.td= menu_link "НАШИ ПРОЕКТЫ", AboutPage.find(2)
      %td#properties.td= menu_link "ВСЯ НЕДВИЖИМОСТЬ", buy_url
      %td#about.td= menu_link "О КОМПАНИИ", about_pages_url
      %td.td= menu_link "УСЛУГИ", services_url
      %td.td= menu_link "БЕСПЛАТНЫЙ ТУР", tour_url
      %td.td= menu_link "КОНТАКТЫ", contacts_url

#about-target.sub.about
  %ul
    -AboutPage.all.each do |page|
      %li
        - if page.try(:menu_title)
          = link_to page.menu_title, page
        - else
          = link_to page.title, page
    %li
      = link_to "Наша команда", our_team_path
    %li
      = link_to "Наши партнеры", our_partners_path
    %li
      = link_to "Отзывы клиентов", feedbacks_path
#project-target.sub.project
  %ul
    -Property.our.each do |property|
      %li
        = link_to property.name, property


#properties-target.sub.properties
  %ul
    -City.all.each do |city|
      %li
        = link_to "Недвижимость в #{city.name}", buy_search_path( city_id: "#{city.id}")
