.b-sticky-buttons
  = link_to 'https://vk.com/nedvijimost_alanya_turkey', target: '_blank' do
    = image_tag 'vkontakte.png'
  = link_to 'https://www.facebook.com/alanyaproperties.ru', target: '_blank' do
    = image_tag 'facebook.png'
  = link_to 'https://plus.google.com/u/0/102090826528127751748/about', target: '_blank' do
    = image_tag 'google_plus.png'
  = link_to 'http://www.youtube.com/channel/UCttA8AOArK7SU76_Z1Ay62w/videos', target: '_blank' do
    = image_tag 'youtube.png'
