!!!
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= content_for?(:title) ? yield(:title) : "Alanya Properties"
    %meta{content: yield(:description), name: "description"}/
    - if content_for?(:keywords)
      %meta{content: yield(:keywords), name: "keywords"}/
    = stylesheet_link_tag "application", media: "screen, projection"
    = stylesheet_link_tag "print", media: "print"
    / что бы телефон не ломался из-за скайпа
    %meta{content: "SKYPE_TOOLBAR_PARSER_COMPATIBLE", name: "SKYPE_TOOLBAR"}/
    = javascript_include_tag "application"
    = auto_discovery_link_tag :atom, "/news"
    = auto_discovery_link_tag :rss, "/news.rss"
    = csrf_meta_tags
    /[if IE 7]
      <script>browser_class = 'ie_7';</script>
    /[if IE 8]
      <script>browser_class = 'ie_8';</script>
    = render 'shared/ga' if Rails.env.production?
  %body
    / BEGIN wrapper
    .wrapper.min_width
      = render 'layouts/header'
      %div{class: "content #{@content_class}"}
        = yield
      / BEGIN footer
      = render 'layouts/footer'
    / END wrapper
    %table.popup_table.hide.no-print
      %tr
        %td.pt_td
          / !!! popup_leaveorder
          / <script>visible_popup       = 'popup';</script>
          .popup.clearfix
            Popup
            %i.close
          #back.back.none
    .no-print= render 'shared/ym' if Rails.env.production?
    .no-print= render 'shared/livezilla' if Rails.env.production?
    .no-print= render 'shared/to_top'
    .no-print= render 'layouts/sticky_buttons'
    - if @paywall.present?
      = render partial: "shared/modal", locals: { paywall: @paywall }
    #blank
