<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Alanya</title>

    <meta name="title" content=""/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <%= stylesheet_link_tag    "application", :media => "screen, projection" %>
 	  <!-- что бы телефон не ломался из-за скайпа -->
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />

    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <!--[if IE 7]><script>browser_class = 'ie_7';</script><![endif]-->
    <!--[if IE 8]><script>browser_class = 'ie_8';</script><![endif]-->
</head>

<body>
<!-- BEGIN wrapper-->
<div class="wrapper min_width">

    <!-- BEGIN header-->
    <div class="header clearfix">
        <%= link_to root_path, class: 'logo', title: 'Alanya' do %>
          <%= image_tag 'logo.png', alt: 'Alanya' %>
        <% end %>
        <table class="nav"><tr>
            <td class="td"><%= menu_link "КУПИТЬ", buy_path %></td>
            <td class="td"><%= menu_link "АРЕНДОВАТЬ", rent_path %></td>
            <td class="td"><%= menu_link "УСЛУГИ", services_path %></td>
            <td class="td"><%= menu_link "О ТУРЦИИ", turkey_news_index_path %></td>
            <td class="td"><a href="" title="">О НАС</a></td>
            <td class="td"><%= menu_link "КОНТАКТЫ", contacts_path %></td>
            <td class="td last_td">
                <a class="search_item">ПОИСК</a>
                <div class="search_input" style="display:none;"><input class="input" id="main-search-input" type="text" /><i class="search_btn"></i></div>
            </td>
        </tr></table>
    </div>
    <!-- END header-->

    <!-- BEGIN content-->
    <div class="content <%= @content_class %>">
      <%= yield %>
    </div>
    <!-- END content-->

    <!-- BEGIN footer-->
    <div class="footer">
        <div class="inner clearfix">
            <ul class="fot_nav">
              <li class="li first"><%= menu_link "Купить", buy_path %></li>
              <li class="li"><%= menu_link "Арендовать", rent_path %></li>
                <li class="li"><a href="" title="">Услуги</a></li>
                <li class="li"><a href="" title="">О Турции</a></li>
                <li class="li"><a href="" title="">О нас</a></li>
                <li class="li"><a href="" title="">Контакты</a></li>
                <li class="li"><a href="" title="">Поиск</a></li>
                <li class="li"><a href="" title="">Карта сайта</a></li>
            </ul>
            <div class="fright">
                <i class="fot_separ"></i>
                <div class="phone">Телефон : 02544511548411</div>
                <i class="fot_separ"></i>
                <a class="icon fot_rss" href="" title=""></a>
                <i class="fot_separ"></i>
                <a class="icon fot_fb" href="" title=""></a>
            </div>
        </div>
        <div class="copyright">&copy; 2013 Alanya Properties copyright Все права защищены</div>
    </div>
    <!-- END footer-->
</div>
<!-- END wrapper-->


<table class="popup_table hide"><tr><td class="pt_td">
    <!-- !!! popup_leaveorder -->
    <!--<script>visible_popup       = 'popup';</script>-->
    <div class="popup clearfix">
        Popup
        <i class="close"></i>
    </div>
    <div class="back none" id="back"></div>

</td></tr></table>

</body>
</html>
